* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #2b110e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: #3e1b16;
    border-radius: 30px;
    padding: 15px;
}

.input-container {
    display: flex;
    align-items: center;
    background-color: #2b110e;
    padding: 10px;
    border-radius: 20px;
    color: #fff;
}

.input-container i {
    margin-right: 10px;
    font-size: 18px;
    color: #bbb;
}

.input-container input {
    background: none;
    border: none;
    outline: none;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    flex: 1;
    min-width: 180px;
    transition: background-color 0.3s ease;
}

.input-container input::placeholder {
    color: #bbb;
}

.input-container span {
    color: #fff;
    padding: 0 15px;
}

.checkbox-container {
    display: flex;
    align-items: center;
    color: #fff;
}

.checkbox-container input {
    margin-right: 5px;
    transform: scale(1.2);
    cursor: pointer;
}

.search-button {
    background-color: #fbbd08;
    color: #2b110e;
    padding: 12px 20px;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    cursor: pointer;
    margin-left: 20px;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: #e0a706;
}

.keywords {
    margin-top: 20px;
    color: #fff;
    font-size: 16px;
}

.keywords a {
    color: #fbbd08;
    text-decoration: none;
    transition: color 0.3s ease;
}

.keywords a:hover {
    color: #e0a706;
}
