body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #3498db;
    margin-bottom: 10px;
}

p {
    color: #666;
    margin-bottom: 20px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skill {
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    flex: 1 1 30%;
    display: flex;
    align-items: center;
    transition: transform 0.3s ease;
}

.skill i {
    font-size: 2em;
    margin-right: 10px;
    color: #3498db;
}

.skill span {
    font-size: 1.2em;
    color: #333;
}

.skill:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
